<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>字段输入页面</title>
</head>
<body>
	<form action="/postDate">
		<div>
			<ul>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
				<li>字段名：<input type="text">   字段：<input type="text"></li>
			</ul>
		</div>
		<button onclick="conmit">提交</button>
	</form>
</body>
</html>